/*登录页面------*/
.login-reg-module {
    transition: all .3s !important;
    -moz-transition: all .3s !important;
    -webkit-transition: all .3s !important;
    -o-transition: all .3s !important;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0), 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);

}
.login-reg-module .col-lg-8{
    padding-left: 0;
    padding-right: 0;
}
.login-reg-module .carousel-inner {
    overflow: visible
}
.login-reg-module .carousel {
    width: 100%;
    height: 438px
}

.login-reg-module .carousel .item img {
    width: 100%;
    height: 438px;
}

.login-reg-module .btn {
    margin-top: 15px;
}

.login-form {
    width: 100%;
    height: auto;
    padding: 0 15px;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
}

.login-form h1 {
    height: 80px;
    text-align: center;
    font-size: 18px;
    line-height: 80px;
    border-bottom: 1px solid #E4E4E4;
    margin-top: 0;
    margin-bottom: 0
}

.login-form .form-body {
    width: 100%;
    padding: 20px 0 0
}

.login-form .form-body .form-group {
    position: relative;
    margin-bottom: 20px;
}

.login-form .form-body .form-group label {
    position: absolute;
    left: 20px;
    top: 0;
    width: 80px;
    font-size: 14px;
    line-height: 48px;
    font-weight: normal
}

.login-form .form-body .form-control {
    height: 48px;
    border-radius: 3px;
    padding-left: 80px;
}

.login-form #use-sms {
    display: none
}

.login-form .disabled {
    border-color: #E4E4E4;
    color: #E4E4E4;
}

.login-form .inline-btns img {
    margin-left: 15px;
    border-radius: 3px;
}

.login-form .submitBtn {
    width: 100%;
    display: block;
    height: 48px;
    text-align: center;
    background: #cf000e;
    border: none;
    box-shadow: none;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    line-height: 48px
}
.login-form .login-submit {
    line-height: 46px;
}
.login-form .submitBtn:hover {
    opacity: .8;
    text-decoration: none
}
.login-form .msgBtn {
    width: 100px;
    height: 48px;
    border: none;
    text-align: center;
    line-height: 48px;
    font-size: 13px;
    color: #cf000e;
    border-radius: 3px;
    box-shadow: none;
    background: transparent;
    margin-left: 20px;
    padding-top: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.login-form .msgBtn:hover {
    background: #cf000e;
    color: #fff;
}

.login-form .ex-tip {
    width: 100%;
    margin-top: 15px;
    clear: both
}

.login-form .ex-tip, .login-form .ex-tip a {
    font-size: 14px;
    color: #cf000e;
}

.login-form .ex-tip a.color-grey {
    color: #ccc
}

.login-form .alert {
    margin-top: 40%
}

.reg-form .inline-btns {
    display: inline-block;
    width: 100%;
}

.reg-form .divider {
    border-bottom: 1px solid #E4E4E4;
    height: 1px;
    width: 100%;
    margin-bottom: 40px;
}