body{
    font-size: 14px;
    line-height: 1.75;
    color: #333;
    background: #fff;
}
ul,li{
    list-style: none;
}
a{
    color: #333
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both
}
.help-block,.color-grey{
    color: #ccc !important
}
.color-grey a{
    color: #999
}
.star-color{
    color: #FFAC2D
}
.color-warning{
    color: #BF1031
}
.color-333{
    color: #333;
}
.color-666{
    color: #666
}
.color-999{
    color: #999
}
.text-center{
    text-align: center
}
.price{
    color: #ec1c24;
}
.a36{
    width: 36px !important;
    height: 36px !important;
}
.a64{
    width: 64px !important;
    height: 64px !important;
}
.a128{
    width: 128px !important;
    height: 128px !important;
}
.img-circle{
    border-radius: 100px
}
.hidden{
    display: none
}
.pull-right{
    float: right;
}
._padding_5{
    padding: 0 5px;
}
.hidden{
    display: none;
}
.clearfix:after {
    clear:both;
    content:"020";
    display:block;
    height:0;
    visibility:hidden;
    line-height:0;
    font-size:1px
}
.primary_btn{
    width: auto;
    height: 40px;
    line-height: 28px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    background: #ec1c24;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    box-sizing: border-box;
}
.primary_btn.fixed{
    position: absolute;
    right: 10px;
    top: 2px;
}
.primary_btn:hover{
    opacity: .8;
    color: #fff;
    text-decoration: none
}
.fixed-circle-btn{
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #ec1c24;
    border-radius: 18px;
    padding: 0 15px;
    position: fixed;
    right: 15px;
    bottom: 60px;
    color: #fff;
    opacity: .8
}
.ui-container{
    padding-bottom: 45px;
}
.weui-panel_hack{
    margin-top: 0;
    border-top: 0;
    content: none
}
.weui-panel_hack:before{
    height: 0;
    content: none
}
.weui-media-box{
    padding: 10px;
}
.weui-media-box__title{
    font-size: 14px;
}
.weui-media-box_appmsg .weui-media-box__hd{
    margin-left: 0.8em;
    margin-right: 0;
}
/*加载更多按钮*/
.more-btn-holder{
    padding: 15px 0;
    display: block;
    width: 100%;
}
.more-btn-holder a.more-btn{
    width: 61.8%;
    height: 32px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    border: 1px solid #999;
    border-radius: 3px;
    color: #999
}
/*单行多行显示*/
.ui-nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ui-nowrap-flex {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    -webkit-box-flex: 1;
    height: inherit; 
}
.ui-nowrap-multi {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}
/*顶部导航*/
.top-header{
    width: 100%;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
.top-header .header-center{
    width: 100%;
    text-align: center;
    height: 100%;
    overflow: hidden;
    display: block;
    padding-left: 0;
    box-sizing: border-box;
}
.top-header .header-center .logo{
    width: auto;
    margin-top: 5px;
    display: inline-block;
    color: #ec1c24;
    font-size: 16px;
}
.top-header .header-center .logo img{
    height: 60px;
    width: 60px;

}
.top-header .header-left{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    text-align: right;
    box-sizing: border-box;
    overflow: hidden;
}
.top-header .header-left{
    right: auto;
    left: 0;
}
.top-header .header-left a{
    margin-left: 0;
    padding: 0 0 0 10px;
    color: #999;
    border-radius: 3px;
    width: auto;
    height: 70px;
    display: block;
    line-height: 70px;
    text-align: center;
}
.top-header .header-right{
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
}
.top-header .header-right a{
    font-size: 18px;
    background: #ec1c24;
    width: 36px;
    height: 36px;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -18px;
    text-align: center;
    line-height: 36px;
}
.top-header .header-right .fa{
    color: #fff;
}
.fixed-nav-holder{
    position: fixed;
    right: 0px;
    top: 0;
    width: 80%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: none;
    box-shadow:-10px 0 10px #999
}
.fixed-nav-holder .close{
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 200px;
    line-height: 45px;
    text-align: center;
    color: #ec1c24;
}
.fixed-nav-holder .report-content{
    color: red
}
.fixed-nav-holder .module-header{
    padding: 0 10px;
    font-size: 16px;
    color: #999;
    line-height: 45px;
}
.fixed-nav-holder .module-body{
    padding: 15px;
}
.fixed-nav-holder .weui-cells{
    margin-top: 0;
}
.section-header{
    clear: both;
    color: #ec1c24;
    height: 44px;
    line-height: 44px;
    position: relative;
    padding-left: 25px;
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #ec1c24;
    margin: 15px 0 0;
}
.index-gallery .section-header,.index-posts .section-header{
    margin-bottom: 5px;
}
.section-header i{
    display:block;
    width:16px;
    height:16px;
    border-radius: 3px;
    background: #ec1c24;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
}

/*图片列表*/
.item-imgs-holder{
    display: block;
}
.ui-grid {
    overflow:hidden
}
.ui-img-vertical{
    width: 100%;
    padding-top: 75%;
}
.ui-img-horizontal{
    width: 100%;
    padding-top: 75%;
}
.ui-img-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 75%;
}
.ui-img-vertical>span, .ui-img-horizontal>span, .ui-img>span, .ui-img-banner>span, .ui-img-cover>span, .ui-img-icon>span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}
.ui-grid .ui-img-horizontal,.ui-grid .ui-img-vertical,.ui-grid .ui-img {
    margin-bottom:1px
}
.ui-grid .ui-img-horizontal>span,.ui-grid .ui-img-vertical>span,.ui-grid .ui-img>span {
    padding:0 2px 0 0
}
.ui-grid .ui-img-horizontal+.ui-grid-info,.ui-grid .ui-img-vertical+.ui-grid-info,.ui-grid .ui-img+.ui-grid-info {
    margin-top:-2px
}
.ui-grid ul {
    height:auto;
    margin:0 -2px 0 0;
    overflow:hidden
}
.ui-grid li {
    float:left;
    position:relative
}
.ui-grid-trisect>ul{
    margin: 0 -6px;
}
.ui-grid-trisect>ul li {
    width:33%;
    margin-right: 1px;
}
.ui-grid-info {
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    width:100%
}
.ui-grid-info h4 {
    position:relative;
    padding:6px 0 0 10px;
    margin-right:1px;
    font-size:14px;
    padding-left:10px;
    padding-right:10px;
    text-align:left;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.ui-grid-info h4 span {
    display:inline-block;
    margin-left:12px;
    color:#777
}
.ui-grid-info p {
    font-size:12px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:17px;
    color:#777
}
.ui-grid-bisect>ul{
    margin: 0 -6px;
}
.ui-grid-bisect>ul li {
    width:49.5%;
    margin-right: 1px;
}
.ui-grid-halve {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    padding-top: 0;
    margin-right: -5px;
}
.ui-grid-halve li {
    padding-right: 5px;
    padding-bottom: 5px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 5px;
}
.ui-grid-halve>li {
    width: 50%;
}
.ui-grid-halve-img {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    display: block
}
.ui-grid-halve-img>span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}
/*表单*/
.form-group{
    margin-bottom: 15px
}
.form-group .btn,.loading-holder .btn{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align: center;
    padding-left: 0 !important;
    width: 100%;
    display: block;
    height: 36px;
    line-height: 34px;
    border-radius: 5px;     
    font-size: 14px
}
.form-group .btn-success{
    background: #ec1c24;
    color: #fff;
    border: 1px solid #ec1c24
}
.form-group .btn-default,.loading-holder .btn-default{
    background: #fff;
    color: #999;
    border: 1px solid #f2f2f2
}
.form-group textarea.form-control{
    width: 100%;
    border-color: #f2f2f2;
    box-shadow: none;
    -webkit-appearance: none; 
    border-radius: 5px;
    line-height: 1.75;
    color: #999;
    padding: 5px;
    box-sizing: border-box;
    resize: none
}
.form-group input.form-control{
    width: 100%;
    border-color: #f2f2f2;
    box-shadow: none;
    -webkit-appearance: none; 
    border-radius: 5px;
    line-height: 1.75;
    padding: 5px;
    color: #999;
    box-sizing: border-box;
    font-size: 14px;
}
.form-group select.form-control{
    width: 100%;
    border-color: #f2f2f2;
    box-shadow: none;
    -webkit-appearance: none; 
    border-radius: 5px;
    line-height: 1.75;
    padding: 5px;
    color: #999;
    box-sizing: border-box
}
.form-group .help-block{
    margin-bottom: 10px;
    margin-top: 5px;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}
.progress {
    height: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    display: none
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-success {
    background-color: #5cb85c;
}
/*评论列表*/
.comments-holder{
    padding: 0 10px;
}
.comments-holder ._comment_item{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #F2F2F2
}
.comments-holder ._comment_item:last-child{
    border: 0;
    margin-bottom: 0
}
.comments-holder ._comment_item .con{
    color: #666;
    margin-right: 10px
}
.comments-holder ._comment_item .right{    
    color: #ccc;
    display: inline-block;
    
}
.comment-form-body .input-holder{                    
    padding-right: 80px;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0
}
.comment-form-body .input-holder textarea{
    height: 60px;
    border: 0;
    width: 100%;
    display: block;
    box-shadow: none;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    background: #f2f2f2;
    border-radius: 0
}
.comment-form-body .btn-holder{
    width: 80px;
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    line-height: 60px;
    background: #ec1c24;
    color: #fff;
}
.comment-form-body .btn-holder .btn{
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 60px;
    display: block;
    color: #fff;
    border-radius: 0
}
.comment-form .comment-login{
    padding: 15px 0;
    text-align: center;
    color: #999;
    border-top: 1px solid #F2F2F2
}        
.comment-form .comment-login a{
    color: #ec1c24;
    padding: 0 5px
}
/*文章*/
.weui-article h1{
    font-weight: 700;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 15px;
}
.post-tags a{
    display: inline-block;
    padding: 3px 8px;
    color: #999;
    background: #F2F2F2;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-right: 5px
}
.no-answers{
    display: block;
    height: 160px;
    background: #F2F2F2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 60px;
    text-align: center;
}
.no-answers .tip{
    color: #999;
    margin-bottom: 5px;
}
/*宠物大全*/
.pets-container h2{
    color: #999;
    padding: 10px 15px 5px;
    font-size: 14px;
    font-weight: normal
}
.pets-container .weui-grids{
    margin-bottom: 15px;
}
.weui-grid .weui-grid__icon{
    text-align: center
}
/*宠物详情*/
.pet-info-holder .avatar{
    width: 80px;
    height: 80px;
    border: 4px solid #ffffff;
    background-color: #ffffff;
    margin: 40px auto 0;
    overflow: hidden;
    border-radius: 100px;
}
.pet-info-holder .avatar img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.pet-info-holder .intro{
    text-align: center;      
    padding: 0 10px 15px
}
/*产品详情*/
.goods-item .title{
    line-height: 1.25;
    color: #333;
}
.goods-item .info{
    color: #999;
    margin-top: 5px;
}
.goods-item .info ._l{
    float: left;
}
.goods-item .info ._r{
    float: right;
}
/*宠物医院*/
.pic-big{
    width: 100%;
    height: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background:url(https://img.petmates.cn/posts/2017/12/13/837D9025-43A7-A0E8-C67F-60FBD3DE5EF1.jpg/c640) no-repeat center
}
.pic-big h1{
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.1);
    width: 100%
}
.map-holder{
    width:100%;
    height: 200px;
    display: block
}
.star-color{
    color: #FFAC2D;
    margin-left: 5px
}
.padding-lr{
    padding: 15px;
}
/*tab menu*/
.tab-menu{
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}
.tab-menu .weui-flex__item{
    text-align: center;    
    border-right: 1px solid #f2f2f2;
    padding: 5px 0
}
.tab-menu .weui-flex__item:last-child{
    border-right: 0
}
.tab-menu .weui-flex__item.active{
    color: #ec1c24;
}
.tab-menu .weui-flex__item .fa{
    display: block;
    font-size: 12px;
}
/*登录注册*/
.login-reg-module{
    background: #f2f2f2;
    padding: 40px 0 200px
}
.login-reg-module .login-reg-form{
    width: 280px;
    margin: 0 auto;
}
.login-reg-form .form-group{
    position: relative;
    margin-bottom: 15px;
    border-bottom: 1px solid #f2f2f2
}
.login-reg-form .form-group .fixed-label{
    position: absolute;
    left: 0;
    top: 0; 
    width: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    color: #ccc
}
.login-reg-form .form-group input.form-control{
    height: 36px;
    width: 100%;
    line-height: 35px;
    padding-left: 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    color: #666;
    background: #fff
}
.login-reg-form .form-group input.verify-code{
    width: 50%
}
.login-reg-form .verify-code-holder img{
    height: 36px;
    margin-top: -5px;
    line-height: 36px;        
    border-radius: 5px;
    margin-right: 5px
}
.login-reg-form .forgot-pass-link{
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #999
}
/*底部tabbar*/
.weui-tabbar{
    position: fixed;
    background: #fff;
    box-sizing: border-box;
}
.weui-tabbar .fa{
    font-size: 18px;
    color: #999;
    display: block;
    padding-top: 2px
}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label, .weui-tabbar__item.weui-bar__item_on .fa{
    color: #ec1c24;
}
a.pubThreadBtn .fa{    
    width: 36px;
    height: 36px;
    margin: 0 auto 0;
    display: block;
    border-radius: 3px;
    background: #ec1c24;
    color: #fff;
    text-align: center;
    line-height: 32px;
    font-size: 16px;    
    border: none;
    box-sizing: border-box
}
/*联系我们*/
.contact-holder{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 499;
    display: none;
}
.contact-holder .contact-body{
    width: 256px;
    height: 340px;
    display: block;
    background: #fff;
    margin-top: -170px;
    margin-left: -128px;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
}
.contact-holder .qrcode-holder{
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.contact-holder .qrcode-holder ._left{
    width: 50%;
    float: left;
    display: block;
    height: auto;
}
.contact-holder .qrcode-holder ._left img{
    width: 113px;
    height: 113px;
    margin: 0 auto;
    display: block;
}
.contact-holder .qrcode-holder ._right{
    width: 50%;
    float: left;
    display: block;
    height: auto;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 1.2;
}
.contact-holder .qrcode-holder ._right ._t1{
    font-size: 16px;
    padding-bottom: 15px;
}
.contact-holder .qrcode-holder ._right ._t2{
    padding-bottom: 15px;
}
.contact-holder .qrcode-holder ._right ._t3{
    font-size: 16px
}
.contact-holder .more-contact-holder{
    clear: both;
}
.contact-holder .more-contact-holder p{
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.contact-holder .more-contact-holder p:last-child{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.contact-holder ._btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    border-top: 1px solid #f2f2f2;
    line-height: 45px;
    text-align: center;
}
/*多媒体*/
.media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  zoom: 1;
  width: 100%;
}
.media-object {
  display: block;
}
.media-object.img-thumbnail {
  max-width: none;
}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-middle {
  vertical-align: middle;
}
.media-bottom {
  vertical-align: bottom;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}
/*更多*/
.more-awesome {
    color: #999;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    margin-top: 15px;
}
.more-awesome span {
    position: relative;
    top: 13px;
    background-color: #fff;
    padding: 0 20px;
} 
/*简单提示*/
.simpleDialog{    
    position: fixed;
    top: 40%;
    left: 50%;
    color: #fff;
    z-index: 9999;
    padding: 10px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    display: none;
    border-radius: 5px
}
.succDialog{
    background: #93ba5f;
}
.errDialog{
    background: #ec1c24;
}
/*举报弹框*/
.displayNone{
    display: none
}
.fixed-report-holder{
    position: fixed;
    right: -1000px;
    top: 0;
    width: 80%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: none;       
    box-shadow:-10px 0 10px #999
}
.fixed-report-holder .close{
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 200px;
    line-height: 45px;
    text-align: center
}
.fixed-report-holder .report-content{
    color: red
}
.fixed-report-holder .module-header{
    border-bottom: 1px solid #f2f2f2
}
.fixed-report-holder .module-body{
    padding: 15px;
}
/*自定义加载*/
.loading-holder{
    padding: 0 10px 10px;
}
.simple-loading-box{
    position: fixed;
    top: 40%;
    left: 50%;
    width: 150px;
    height: auto;
    background: #FF677D;
    display: none;
    z-index: 9999
}
.simple-loading-box .loading-holder{
    font-size: 48px;
    width: 100%;
    text-align: center;
    color: #fff
}
.simple-loading-box .loading-title{
    text-align: center;
    color: #fff
}
/*脚部*/
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #fff;
    border-top: 1px solid #f2f2f2;        
    text-align: center;
    z-index: 99;
}
.footer .ui-tiled{
    margin-top: 5px;
    color: #999
}
.footer .ui-tiled .active{
    color: #93ba5f;
    font-weight: 700
}
.footer .fa{
    display: block
}
ul.yiiPager{height:26px;margin:30px 0;padding:0;text-align:center;}ul.yiiPager li{display:inline;margin-right: 5px}ul.yiiPager a:link,ul.yiiPager a:visited{padding:5px 9px;border:1px solid #ccc;border-radius:3px;background:#fff;color:#777;font-weight:normal}ul.yiiPager a:hover{border-color:#93ba5f;box-shadow:1px 1px 1px #333;color:#93ba5f;text-decoration:none}ul.yiiPager .selected a{padding:6px 10px;border:0;border-radius:3px;background:#93ba5f;color:#fff}ul.yiiPager .hidden,ul.yiiPager .last,ul.yiiPager .first{display:none}

/*轮播*/
/*轮播*/
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme{
    position: relative
}
.owl-theme .owl-controls{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons{
    display: none
}

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}
.owl-theme .item img{
    display: block;
    width: 100%;
    height: auto;        
}
.owl-carousel .owl-item{
    height: 180px;
}
.owl-carousel .item{
    height: 180px;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat
}