.city_box{
    width: 100%;
}
.city_box h3 {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    height: 38px;
    font-size: 14px;
    padding-left: 10px;
    line-height: 38px;
    background: #F8F8F8;
    color: #3F4358;
}
.city_box .city_lst {
    overflow: hidden;
    width: 100%;
}
.city_box .city_lst li {
    float: left;
    width: 33.3%;
    height: 45px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #394b59;
    list-style: none;
}
.city_box .city_lst li a {
    display: block;
    height: 45px;
    color: #3F4358;
    -webkit-border-radius: 0;
}
.city_box .hot li a {
    color: #ec1c24;
}
.city_lst_near li a, .city_lst.hot li a {
    font-size: 16px;
}
.city_box .city_lst li a.nobor {
    border-left: 0;
}
.letters_lst li {
    width: 16.66666666666667%;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #394B59;
    list-style: none;
}
.letters_lst li a {
    display: block;
    height: 40px;
    color: #394b59;
    -webkit-border-radius: 0;
}
.city_box h4 {
    clear: both;
    height: 40px;
    border-bottom: 1px solid #ec1c24;
    border-top: 1px solid #c8c9ca;
    font-weight: 400;
}
.city_box h4 p {
    background: #FFF;
    padding-left: 10px;
    font-size: 13px;
    color: #999;
    line-height: 39px;
}
.city_box h4 p span {
    color: #3F4358;
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px;
}